/table/
/nt_client/.yarn/cache
/nt_client/.yarn/install-state.gz
/nt_client/node_modules/
/nt_client/node_modules/

/nt_server/logs/
.vscode/*
!.vscode/extensions.json
.idea

# 此文件下的文件，是编译后直接生成的
/nt_client/resources/server/
/release
/nt_client/logs/*.*
node_modules/
